numpy
pandas 
black
matplotlib
torchvision==0.9.0+cpu 
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
captum
tqdm
scikit-image
dill
gym
gym[atari]
pyglet
ipywidgets
scikit-learn
opencv-python
array2gif
pygad
ray==1.8.0